KUBECONFIG_PATH=C:/Users/<you>/.kube/jenkins_kubeconfig.yaml
GITHUB_USERNAME=your-username
GITHUB_TOKEN=ghp_xxxxxxxxxxxxxxxxxxxx
GHCR_TOKEN=ghp_xxxxxxxxxxxxxxxxxxxx
GITHUB_REPOSITORY=your-username/java-bank
DOCKER_REGISTRY=ghcr.io/your-username
DB_PASSWORD=your-secure-db-password
KEYCLOAK_ADMIN_PASSWORD=admin